<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pumpkin_rest_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{357,344}}</string>
                <key>offset</key>
                <string>{-11,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,108},{357,344}}</string>
                <key>sourceSize</key>
                <string>{519,478}</string>
            </dict>
            <key>pumpkin_rest_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{249,266}}</string>
                <key>offset</key>
                <string>{11,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,164},{249,266}}</string>
                <key>sourceSize</key>
                <string>{519,478}</string>
            </dict>
            <key>pumpkin_rest_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{205,224}}</string>
                <key>offset</key>
                <string>{10,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,196},{205,224}}</string>
                <key>sourceSize</key>
                <string>{519,478}</string>
            </dict>
            <key>pumpkin_rest_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,504},{203,228}}</string>
                <key>offset</key>
                <string>{9,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,192},{203,228}}</string>
                <key>sourceSize</key>
                <string>{519,478}</string>
            </dict>
            <key>pumpkin_rest_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{203,232}}</string>
                <key>offset</key>
                <string>{8,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,188},{203,232}}</string>
                <key>sourceSize</key>
                <string>{519,478}</string>
            </dict>
            <key>pumpkin_rest_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,270},{203,232}}</string>
                <key>offset</key>
                <string>{6,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,188},{203,232}}</string>
                <key>sourceSize</key>
                <string>{519,478}</string>
            </dict>
            <key>pumpkin_rest_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{209,236}}</string>
                <key>offset</key>
                <string>{4,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,188},{209,236}}</string>
                <key>sourceSize</key>
                <string>{519,478}</string>
            </dict>
            <key>pumpkin_rest_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,270},{225,236}}</string>
                <key>offset</key>
                <string>{9,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,188},{225,236}}</string>
                <key>sourceSize</key>
                <string>{519,478}</string>
            </dict>
            <key>pumpkin_rest_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,508},{215,224}}</string>
                <key>offset</key>
                <string>{8,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,197},{215,224}}</string>
                <key>sourceSize</key>
                <string>{519,478}</string>
            </dict>
            <key>pumpkin_rest_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,734},{205,214}}</string>
                <key>offset</key>
                <string>{6,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,207},{205,214}}</string>
                <key>sourceSize</key>
                <string>{519,478}</string>
            </dict>
            <key>pumpkin_rest_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,734},{211,218}}</string>
                <key>offset</key>
                <string>{8,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,206},{211,218}}</string>
                <key>sourceSize</key>
                <string>{519,478}</string>
            </dict>
            <key>pumpkin_rest_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,207},{205,206}}</string>
                <key>offset</key>
                <string>{8,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,215},{205,206}}</string>
                <key>sourceSize</key>
                <string>{519,478}</string>
            </dict>
            <key>pumpkin_rest_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,734},{207,202}}</string>
                <key>offset</key>
                <string>{9,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,218},{207,202}}</string>
                <key>sourceSize</key>
                <string>{519,478}</string>
            </dict>
            <key>pumpkin_rest_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{207,204}}</string>
                <key>offset</key>
                <string>{10,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,216},{207,204}}</string>
                <key>sourceSize</key>
                <string>{519,478}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pumpkin_reset.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:141d6f65ed5d96c5c11e53bb70030269:f3e0f5bcbfd83448b399c13dd3fe73b8:bf5c27c259278f9d3c30db0991ac184b$</string>
            <key>textureFileName</key>
            <string>pumpkin_reset.png</string>
        </dict>
    </dict>
</plist>
