<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>operating_obstacle_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{16,94}}</string>
                <key>offset</key>
                <string>{-42,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{16,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>operating_obstacle_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,16}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,16}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>operating_obstacle_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{84,78}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>barrier.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2884301e83b3d6b537749a140b3c906c$</string>
            <key>textureFileName</key>
            <string>barrier.png</string>
        </dict>
    </dict>
</plist>
