<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>operating_obstacle_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{16,94}}</string>
                <key>offset</key>
                <string>{-42,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{16,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>operating_obstacle_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,16}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,16}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>operating_obstacle_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>operating_obstacle_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,130},{84,78}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>operating_obstacle_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{92,90}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{92,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>operating_obstacle_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>barrier.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:126cef186d20c79049f3d39dba3bec88$</string>
            <key>textureFileName</key>
            <string>barrier.png</string>
        </dict>
    </dict>
</plist>
