<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Connection.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{29,250}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{29,250}}</string>
                <key>sourceSize</key>
                <string>{33,250}</string>
            </dict>
            <key>operating_ green.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,212},{105,95}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{105,95}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>operating_ greenf.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,107},{105,103}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{105,103}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>operating_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,210},{99,97}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{99,97}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>operating_bluef.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,2},{105,103}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{105,103}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>operating_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{97,97}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{97,97}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>operating_pinkf.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{105,101}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{105,101}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>operating_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,406},{95,95}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{95,95}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>operating_redf.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,105},{99,103}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{99,103}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>operating_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,309},{97,95}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{97,95}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>operating_yellowf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{99,99}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{99,99}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tiled.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43d15131c0bd51a9f41a52638ae3e2b2$</string>
            <key>textureFileName</key>
            <string>tiled.png</string>
        </dict>
    </dict>
</plist>
