<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battery_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{124,120}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{124,120}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>battery_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{124,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{124,120}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>battery_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,376},{118,112}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{118,112}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>battery_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,242},{112,102}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{112,102}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>battery_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,124},{116,110}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{116,110}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>battery_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{124,118}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{124,118}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>battery_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{126,120}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{126,120}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>battery_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,120}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{126,120}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>battery_attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{124,112}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{124,112}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>battery_attack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{124,118}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{124,118}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_create.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9b0dbac8d29367baae3cdbe24ed57b0:4f6c5aed458f5dee729d600b09ce5308:316e0df2c4f4bc2ced63d08698908ce7$</string>
            <key>textureFileName</key>
            <string>tower_create.png</string>
        </dict>
    </dict>
</plist>
