<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>operating_love.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>operating_love2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_life.png</string>
            <key>size</key>
            <string>{32,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40151ffb62fac869496c6117c49f88cf:1582156ed25583d31de3dd9cbd3b2514:f0f7430fa62742d29dfbf55cca1daffb$</string>
            <key>textureFileName</key>
            <string>tower_life.png</string>
        </dict>
    </dict>
</plist>
