<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fort1_burst1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,254},{147,107}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{147,107}}</string>
                <key>sourceSize</key>
                <string>{193,173}</string>
            </dict>
            <key>fort1_burst10.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,278},{73,57}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,64},{73,57}}</string>
                <key>sourceSize</key>
                <string>{193,173}</string>
            </dict>
            <key>fort1_burst11.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,133},{153,119}}</string>
                <key>offset</key>
                <string>{-20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{153,119}}</string>
                <key>sourceSize</key>
                <string>{193,173}</string>
            </dict>
            <key>fort1_burst2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,278},{121,127}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,25},{121,127}}</string>
                <key>sourceSize</key>
                <string>{193,173}</string>
            </dict>
            <key>fort1_burst3.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,143},{169,133}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{169,133}}</string>
                <key>sourceSize</key>
                <string>{193,173}</string>
            </dict>
            <key>fort1_burst4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{145,129}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,23},{145,129}}</string>
                <key>sourceSize</key>
                <string>{193,173}</string>
            </dict>
            <key>fort1_burst5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{155,129}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{155,129}}</string>
                <key>sourceSize</key>
                <string>{193,173}</string>
            </dict>
            <key>fort1_burst6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,153}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{175,153}}</string>
                <key>sourceSize</key>
                <string>{193,173}</string>
            </dict>
            <key>fort1_burst7.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{173,139}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{173,139}}</string>
                <key>sourceSize</key>
                <string>{193,173}</string>
            </dict>
            <key>fort1_burst8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{141,83}}</string>
                <key>offset</key>
                <string>{-26,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{141,83}}</string>
                <key>sourceSize</key>
                <string>{193,173}</string>
            </dict>
            <key>fort1_burst9.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,363},{143,71}}</string>
                <key>offset</key>
                <string>{-25,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,52},{143,71}}</string>
                <key>sourceSize</key>
                <string>{193,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_bullet_burst.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59ff583f8f5513e172f6559968377312:f9dc16965a7cadaa6a2bb0b3ce75d69e:446ad0bd970ff731722feeb86c7d6ff0$</string>
            <key>textureFileName</key>
            <string>tower_bullet_burst.png</string>
        </dict>
    </dict>
</plist>
